{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="user_delete">
      {% if object.is_active %}
        Уверены, что хотите удалить {{ object.get_full_name }} ?
      {% else %}
        Хотите восстановить продукт?
      {% endif %}
    <form action="{% url 'adminapp:product_delete' product.pk %}"
          method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Хочу">
    </form>
    <button class="btn btn-success">
      <a href="{% url 'adminapp:product_list' object.category.pk %}">
        Отмена
      </a>
    </button>
  </div>
{% endblock %}